/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font: inherit;
    border: none;
}

button {
    border: none;
    background-color: initial;
    outline: none;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Base styles */
.page {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-image:
        url(https://bytegrad.com/course-assets/css/2/pattern.svg),
        linear-gradient(to bottom right, #8FD861, #2CC695 90%);
    /* firefox and edge */
    scrollbar-width: none;
}

/* chrome */
.page::-webkit-scrollbar {
    display: none;
}

.app {
    width: 1240px;
    height: 1030px;
    background-color: #ffffff;
    box-shadow: 0 30px 100px rgba(0, 0, 0, 0.35);
    margin: 80px 0;
    display: grid;
    grid-template-columns: 355px 1fr;
    grid-template-rows: 65px 724px 1fr;
}

/* styles */
.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 48px 0 26px;
}

.search__submit {}

.search__icon {}

.nav__list {}

.nav__item {}

.nav__link {}

.nav__icon {}

.sidebar {
    background-color: #11271f;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.gallery {
    background-color: #eef3f4;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.steps {
    background-color: #e7edee;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}