/* Media query for smartphones */
@media only screen and (max-width: 767px) {
  article {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  article h4 {
    margin-bottom: 20px;
  }

  article img {
    display: block;
    width: 100%;
  }
}