* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  background-image: radial-gradient(ellipse, #385300, #212900);
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  box-shadow: 0 25px 121px rgba(0, 0, 0, 0.5);
}

.counter__reset-button {
  cursor: pointer;
}

.counter__reset-icon {
  opacity: 0.3;
  font-size: 35px;
  transition: all 0.4s;
}

.counter__reset-icon:hover {
  opacity: 0.5;
}

.counter__buttons {
  margin-top: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}

.counter__button {
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.counter__button:hover {
  background-color: #212b06;
}

.counter__button--decrease {
}

.counter__button--increase {
  border-left: 1px solid rgba(189, 254, 0, 0.15);
}

.counter__icon {
  color: #bdfe00;
  opacity: 0.9;
  font-size: 40px;
}

.counter__icon--minus {
}

.counter__icon--plus {
}

